/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main::after{
    content: "";
    display: table;
    clear:both;
}

.container {
    width: 80%;
    margin: 2em auto;
}


/* layout */


.header-p {
    height: 100px;
    background-color: #E579E6;
}

/* MAIN */

.banner {
    margin-top: 20px;
}

.top {
    background-color:#E1D67A;
    height: 300px;
}

.bot {
    background-color: #0186FF;
    height: 350px;
}

.title {
    width: 100%;
    height: 40px;
    background-color: #ABCFE7;
    display: inline-block;
    margin-bottom: 20px;
}



.sidebar {
    width: 20%;
    height: 250px;
    background-color: #ABCFE7;
}

.content {
    float:left;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;
    background-color: #ABCFE7;
} 

.left {
    float: left;
}
    
.right {
    float: right;
}


.footer {
    height: 50px;
    background-color: #8801FE;
    margin-top: 10px;
}