
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug .content-top,
.debug .colonn {
    background-color: #ABCFE7;
}

.debug .content {
    background-color: #0186FE ;
}

/* COMMON */

html {
    /* 10px */
    font-size: 62.5%;      
} 

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.colonn {
    float: left;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

/* HEADER */

header {
    height: 80px;
    background-color: #E579E6;
}

/* MAIN */
.banner {
    height: 400px;
    background-color: #E1D67A;
}

.content {
    padding-bottom: 2em;
}

.content-top {
    height: 60px;
}

.colonn {
    height: 200px;
}

.col-side {
    width: 25%;
}

.col-center {
    width: 46%;
    margin: 0 2%;
}

/* FOOTER */
footer {
    height: 50px;
    background-color: #8801FE;
} 